@import url('https://fonts.googleapis.com/css2?family=Kavoon&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

.text-justify-custom {
    font-size: 15px;
    color: #264E3A;
    text-align: justify;
}

h5 {
    font-family: Nunito, serif;
    font-weight: 750;
    font-size: 17px;
    color: #264E3A;
}

.bi-arrow-right-short {
    font-size: 26px;
    color: #264E3A;
}

hr {
    height: 1px;
    background-color: #000;
    border: 1px solid #264E3A;
    opacity: 0.6;
}

h3 {
    font-family: Nunito, serif;
    font-weight: 750;
    font-size: 13px;
    color: #67b9bf;
}
h2 {
    font-family: Nunito, serif;
    font-weight: 750;
    font-size: 15px;
    color: #284b4d;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 13px;
  }

p {
    font-family: Nunito, serif; 
    font-weight: 450; 
    font-size: 17px; 
    color: #264E3A"
}

.form-label {
    font-family: Nunito, serif;
    font-weight: 450;
    font-size: 17px;
    color: #264E3A;
}

.pagination .page-link {
    color: #264E3A; 
    border: none;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
}

.pagination .page-item.active .page-link {
    background-color: #B9F6E2; 
    color: #264E3A; 
    border-radius: 5px;
}

.pagination .page-item .page-link {
    padding: 0.5rem 0.75rem;
    margin: 0 0.25rem;
    font-size: 16px;
    border-radius: 5px;
    background-color: #FFFFFF; 
    border-bottom: 2px solid #264E3A; 
}

.pagination .page-item.disabled .page-link {
    background-color: #F6FFFD; 
}

.pagination .page-item:hover .page-link {
    background-color: #B9F6E2; 
    border-color: #264E3A;
}
